streamlit==1.45.0
Pillow==11.0.0
opencv-python==4.11.0.86
ultralytics==8.3.116
numpy==2.1.1
torch>=1.10.0
pillow>=9.0.0 
matplotlib
scikit-learn
tqdm
python-dotenv
google-generativeai
pytesseract
opencv-python-headless
numpy
gdown
requests
tensorflow==2.11.0
tf-keras
transformers==4.38.0
